.ng-scope{
  overflow-x: auto;
}

body, md-content.md-blue-grey-theme {
  background-color: #eee;
}

md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
}

md-sidenav {
  fill: #737373;
}

.user-avatar {
  border-radius: 99%;
}

md-toolbar.md-tall {
  height: 64px;
  max-height: 64px;
  min-height: 64px;
}
code {
  color: #4285f4;
  -webkit-font-smoothing: auto;
  font-weight: 300;
  background-color: #F2F2F2;
  padding: 10px;
}
.text-center {
  text-align: center!important
}
ul {
  list-style: none
}

.logo {
  max-width: 100%;
  margin-left: 25px;
}

.brand-logo {
  background: #222a2a !important;
  border-bottom: 3px solid #ffde00;
}

.brand-toolbar {
  background-color: #2d3737 !important;
}

img.thumb{
  cursor: pointer;
}
