<md-dialog aria-label="Arnold Clark"  ng-cloak>
  <form>
    <md-toolbar class="brand-toolbar">
      <div class="md-toolbar-tools">
        <h2>Arnold Clark</h2>
        <span flex></span>
        <md-button class="md-button" ng-click="cancel()">CLOSE</md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <img src="{{image}}" />
      </div>
    </md-dialog-content>

  </form>
</md-dialog>
