<md-toolbar class="md-tall md-hue-2 brand-logo">
  <div layout="column" class="md-toolbar-tools-bottom inset">
    <div layout="row">
      <div flex="80" style="margin-top: 10px;">
        <img class="logo" src="images/logo.png" alt="Arnold Clark" />
      </div>
    </div>
  </div>
</md-toolbar>
<div layout="column" ng-cloak>
  <md-content class="md-padding">
    <form ng-submit="$event.preventDefault()" name="searchForm">
      <p>Search for images of the car</p>
      <div layout-gt-sm="column">
        <md-input-container  flex>
          <label>Stock Reference</label>
          <input
            name="stockReference"
            ng-model="vm.stockReference"
            ng-pattern="/^[a-zA-Z]{5}-[a-zA-Z]{1}-\d{5}$/"
            md-maxlength="13"
            type="text"
            required />
          <div ng-messages="searchForm.stockReference.$error" role="alert" multiple>
            <div ng-message="required">You must supply a stock reference.</div>
            <div ng-message="pattern">That doesn't look like a valid stock reference.</div>
            <div ng-message="md-maxlength">Too long stock reference. Max 12 length.</div>
          </div>
        </md-input-container>
        <md-input-container  flex>
          <label>Registration Plate</label>
          <input
            name="registrationPlate"
            ng-model="vm.registrationPlate"
            md-maxlength="7"
            minlength="7"
            type="text"
            required />
          <div ng-messages="searchForm.registrationPlate.$error" role="alert" multiple>
            <div ng-message="required">You must supply a registration plate.</div>
            <div ng-message="md-maxlength">Too long registration plate. Max 7 length.</div>
            <div ng-message="minlength">Too short registration plate. Min 7 length.</div>
          </div>
        </md-input-container>
        <md-button ng-click="vm.searchImages()">Search</md-button>
      </div>
    </form>
  </md-content>
</div>

